.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600;
    margin-top: 200px;
    background: whitesmoke;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: chocolate;
    font-size: 48px;
    font-weight: 700;
}

.undreline{
    width: 61px;
    height: 6px;
    background-color: chocolate;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;  
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    height: 80px;
    width: 480px;
    background :whitesmoke;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: grey;
    font-size: 19px;
}

.Forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: grey;
    font-size: 18px;
}

.Forgot-password span{
    color:chocolate;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: whitesmoke;
    background:chocolate;
    border-radius:50px ;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: whitesmoke;
    color: gray; 
}